<% if @user.role? (:admin) || @user.role?(:customer) %>
<p>
	<h5>
	  Name: <%= link_to @user.customer.name, customer_path(@user.customer) %>
	</h5>
</p>

<p>
  <b>Email:</b> <%= @user.customer.email %>
</p>
<% end %>
<p>
  <b>Username:</b> <%= @user.username %>
</p>

<p>
  <b>Role:</b> <%= @user.role.capitalize %>
</p>

<% if @user.role? (:admin) %>
	<p>
	  <b>Active:</b> <%= @user.active ? "Yes" : "No" %>
	</p>
<% end %>