<h2><%= "Welcome To The Bread Express System, #{@user.username}!" %></h2>
<p class="supertiny">&nbsp; </p>

<div class="row">
	<div class="small-5 columns">

		<div id="accordion">
			<h4><b><i>Active Customers</i></b></h4>
			<div>
			<%= render :partial => "customers/active_customers" %>
			</div>

			<h4><b><i>Inactive Customers</i></b></h4>
			<div>
			<%= render :partial => "customers/inactive_customers" %>
			</div>

		</div>

<!-- 		<ul class="accordion" data-accordion>

		  <li class="accordion-navigation">
		    <a href="#panel1a">Active Customers</a>
		    <div id="panel1a" class="content active">
		    	<%= render :partial => "customers/active_customers" %>
		    </div>
		  </li>
		  <li class="accordion-navigation">
		    <a href="#panel2a">Inactive Customers</a>
		    <div id="panel2a" class="content">
		     	<%= render :partial => "customers/inactive_customers" %>
		    </div>
		  </li>
		</ul> -->
	</div>
	<div class="small-5 columns">
			<h4><b><i>Item Info</i></b></h4>
		<div id="accordion">
			<h4><b><i>Active Items</i></b></h4>
			<div>
			<%= render :partial => "items/active_items" %>
			</div>

			<h4><b><i>Inactive Items</i></b></h4>
			<div>
			<%= render :partial => "items/inactive_items" %>
			</div>

		</div>
	</div>

</div>