<%= simple_nested_form_for @customer, html: { class: 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Customer</legend>

    <%= f.input :first_name, input_html: {class: "avg"} %>
    <%= f.input :last_name, input_html: {class: "avg"} %>
    <%= f.input :phone, input_html: {class: "avg"} %>
    <%= f.input :email, input_html: {class: "avg"} %>


    <div class="span6">
      <div class="well">
        <legend>Related User</legend>
            <%= student_form.simple_fields_for :user do |user_form| %>
              <%= render :partial => "user_fields", :locals => { :f => user_form } %>
            <% end %> 

        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'button' %>
      <%= link_to 'Cancel', customers_path, :class => 'button alert' %>
    </div>
  </fieldset>
<% end %>